@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    --primary-gray: 0, 0%, 82%;
    --primary-gray-foreground: 0, 0%, 20%;
    --primary-yellow: 39, 89%, 60%;
    --primary-yellow-foreground: 50, 100%, 30%;
    --primary-green: 125, 44%, 47%;
    --primary-green-foreground: 120, 100%, 10%;
    --primary-darkGreen: 160, 100%, 30%;
    --primary-darkGreen-foreground: 160, 100%, 10%;
    --primary-teal: 188, 96%, 22%;
    --primary-teal-foreground: 170, 100%, 20%;
    --primary-blue: 189, 90%, 29%;
    --primary-blue-foreground: 200, 100%, 20%;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --border-input: 0, 0%, 82%, 1;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
